*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* background image  */
#background {
  background-image: url("https://wallpaperaccess.com/full/1145728.jpg");
  filter: blur(5px);
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: -1;
  border: 3px solid black;
}

/* app heading */
h1 {
  font-size: 40px;
  color: aliceblue;
  font-family: 'Courier New', Courier, monospace;
  width: 100%;
  text-align: center;
  padding: 15px;
}

h2 {
  font-size: 20px;
  color: aliceblue;
  font-family: 'Courier New', Courier, monospace;
  width: 100%;
  text-align: center;
  color: wheat;
}


/* input tags for form  */
input{
  font-size: 1rem;
  background: transparent;
  border: none;
  outline: none;
  width: 100%;
  margin: 7px 20px;
}

label {
  font-size: 20px;
  text-transform: uppercase;
  font-family: sans-serif;
}

/* styling all box */
.box {
  border-radius: 15px;
  width: 60%;
  overflow: hidden;
  max-height: 90vh;
  border: black 2px solid;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.6);
}

/* rows in box  */
.box .row {
  border-bottom: 1px solid rgb(75, 75, 75);
  display: flex;
  background-color: rgba(255, 255, 255, 0.2);;
}

/* width for rows 1 */
.col1 {
  width: 100%;
}

/* width for rows 2 */
.col2 {
  width: 50%;
}

/* select box  */
select {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: larger;
  padding:5px 10px;
}

/* options in select  */
option{
  font-size: small;
  background-color: rgb(169, 252, 255);
}

/* all buttons */
button {
  display: inline-block;
  text-align: center;
  background: linear-gradient(0deg, rgb(0, 170, 248) 0%, rgba(2, 214, 251, 0.548) 100%);
  border: white solid 1px;
  margin: 10px 30px;
  font-size: larger;
  border-radius: 10px;
  color: white;
}

 /* hovering on buttons */
button:hover{
  background: rgb(212, 241, 255);
  color: black;
  border: black solid 1px;
}

/* form  */
form{
  margin: 10px 0px;
}


/* class with starting as col  */
[class^="col"] {
  padding: 1rem 30px;
}

/* grayback class */
.grayBack:hover {
  background-color: rgb(212, 241, 255);
}

/* List of all task */
ul {
  list-style: none;
  max-height: 45vh;
  overflow: auto;
  padding: 0px 20px;
}

/* list item styles */
li {
  padding: 5px 10px;
  font-size: 15px;
  position: relative;
  border-bottom: 1px solid black;
  transition: all 1s;
}

/* description text styles */
li .description {
  font-size: 25px;
  margin-left: 50px;
}

/* date styles */
li .dueDate {
  display: block;
  margin:10px 100px;
  color: rgba(0, 0, 0, 0.6);
}

/* classes starts with categories */
[class^="category"] {
  font-size: 1.1rem;
  text-transform: uppercase;
  padding: 0.6rem;
  color: white;
  position: absolute;
  right: 2rem;
  top: 1.15rem;
  width: 140px;
  border: black solid 1px;
  text-align: center;
}

/* all labels inside todo class */
.todo label{
  margin: 10px;
}

/* Hide the default checkbox */
label input {
  display: none; 
}

/* Style the artificial checkbox */
label span {
  height: 20px;
  width: 20px;
  border: 1px solid rgb(0, 0, 0);
  display: inline-block;
  position: relative;
}

/* Style its checked state...with a ticked icon */
[type=checkbox]:checked + span:before {
  content: '\2714';
  position: absolute;
  top: -5px;
  left: 0;
}

/* for coloring different category */
.category-personal {
  background-color: rgb(255, 202, 88);
}

.category-work {
  background-color: hsla(240, 96%, 82%, 0.534);
}

.category-school {
  background-color: rgb(247, 144, 144);
}

.category-cleaning {
  background-color: rgb(146, 226, 27);
}

.category-other {
  background-color: rgb(185, 190, 177);
}



/* ---------------------------------edit box ------------------------------------- */
#edit-box{
  background-image: linear-gradient(aqua,rgb(255, 255, 255),rgb(113, 236, 252));
  border: 1px solid black;
  border-radius: 20px;
  z-index: 2;
  position: absolute;
  width: 30%;    
  min-width: 350px;
  left: 33%;
  top: 20%;
  padding: 20px 0px;
}

/* heading in edit box  */
#edit-box h3{
  width: 100%;
  text-align: center;
}


/* input fields in edit box  */
#edit-box input{
  width: 70%;
  margin: 5px 15%;
  border-radius: 10px;
  padding: 2px 10px;
  font-size: 15px;
  border: 1px solid black;
}

/* update button in edit box  */
#edit-box button{
  width: 70%;
  margin: 5px 15%;
  border-radius: 10px;
  padding: 2px 10px;
}
#edit-category{
  align-self: center;
}

#edit-box p{
  margin: 5px 15%;
}